@page "/learnblazor/demoproduct"
@using BlazorLab.Components.Shared

<h3 class="text-primary">DemoProduct</h3>
<div class=" p-2 mt-2">
	<div class="row">
		@foreach (var prod in productList)
		{
			<div class="bg-light border col-6">
				<h4 class="text-secondary">Product ID - @prod.Id</h4>
					Name - @prod.Name <br />
					show Properties :
					<input type="checkbox" @bind="prod.isActive"/>

				@if (prod.isActive)
				{
					@foreach (var p in prod.Props)
					{
						<p>@p.key - @p.value</p>
					}

                    
				}
				<br />
				<_DeleteButton ProductId="@prod.Id" />
				
			</div>
		}
	</div>
	<br />
	<br />
	<br />

	<div>

		<input type="button"
		 class="btn btn-success"
		 style="width:100px"
		 value="Counter"
		 @onclick="()=>IncrementCount(2)"/>
		Count = @Count
		
	</div>
</div>

@code {

	public int Count {get; set;} = 0;

	List<Product> productList = new List<Product>();

	protected override void OnInitialized()
	{

		productList.Add(new()
		{
			Id = 1,
			Name = "Iphone",
			isActive = true,
			Price = 10.0,
			Props = new List<Product_Prop>()
			{
				new Product_Prop { Id=1, key="Color", value="Black" },
				new Product_Prop { Id=2, key="Memory", value="128GB" },
				new Product_Prop { Id=3, key="RAM", value="8GB" },
				new Product_Prop { Id=4, key="Camera", value="50MP" },
			}
		});

		productList.Add(new()
		{
			Id = 2,
			Name = "Samsung",
			isActive = false,
			Price = 20.0,
			Props = new List<Product_Prop>()
			{
				new Product_Prop { Id=1, key="Color", value="White" },
				new Product_Prop { Id=2, key="Memory", value="256GB" },
				new Product_Prop { Id=3, key="RAM", value="12GB" },
				new Product_Prop { Id=4, key="Camera", value="108MP" },
			}
		});

	}

	public void IncrementCount(int counter)
	{
		Count += counter;
	}

	public void Remove(int prodId)
	{
		var prod = productList.FirstOrDefault(p => p.Id == prodId); <!-- From the list productList, find the first product whose Id equals prodId.If none is found, return null." -->
		if (prod != null)
		{
			productList.Remove(prod);
		}
	}

}
